.card {
    margin-top: 15px;
}

body {
    background: white;
    background: rgba(0, 0, 0, 0);
}

h1 {
    text-align: center;
}

html {
    height: 100%;
    background: #a90329;
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}
