{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script>
    var numEntries = 0;
    {% for entry in entries %}
        $('#list').append('<li id="' + numEntries + '">{{ entry }}</li>');
        numEntries++;
    {% endfor %}

    jQuery.fn.center = function () {
        this.css("position","absolute");
        this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + 
                                                    $(window).scrollTop()) + "px");
        this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + 
                                                    $(window).scrollLeft()) + "px");
        return this;
    }

    function setLayout() {
        $('#box').center();
        $('#lotto-list').height($(window).height() - $('#title').height());

        var padding = $(window).height() / 2 + 100;
        $('#list').css('padding', padding + 'px 0');
    }

    window.onload = setLayout;
    window.onresize = setLayout;

    var prevPosition = 0;
    $(document).keypress(function(e) {
        if (e.which == 13) {
            var duration = Math.floor(Math.random() * 2000) + 1000;
            var entry = Math.floor(Math.random() * numEntries);
            var selection = $("#" + entry);
            selection.css('color', 'white');

            var selOffset = selection.position().top;
            var selHeight = selection.height();
            var windowHeight = $(window).height();
            var position;

            if (selHeight < windowHeight) {
                position = selOffset - ((windowHeight / 2) - (selHeight / 2));
            }
            else {
                position = selOffset;
            }

            $('#lotto-list').animate({
                scrollTop: prevPosition + position
            }, duration);

            prevPosition += position
        }
    });
</script>
{% endblock scripts %}

{% block content %}
<div class="container">
    <div id="sel">
        <h1 id="title">T-Rex T-Shirt Tumble</h1>
        <div id="box"></div>
        <div id="lotto-list" class="center">
            <ul id="list">
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
