{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script>
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>T-Rex T-Shirt Tumble</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form action="/lotto" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <div>
                        <label for="upload">Upload entries file:</label>
                    </div>
                    <input type="file" name="file" accept=".txt" id="upload">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" name="pass" class="form-control" id="pwd">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Upload</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
